/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    // order of extension and tags has to be the same
    get_nextclade_dataset      = true
    nextclade_sort_extensions  = "sars-cov-2/sequences.fasta"
    nextclade_sort_tags        = "SC2"
    nextclade_dataset_tags     = "sars-cov-2"

    // mapping between nextclade reference name and inv tags
    mapping_sars_cov_2 = "SC2"

    // pre-downloaded datasets (used when get_nextclade_dataset = false)
    dataset_SC2 = null

}
