/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    // order of extension and tags has to be the same
    get_nextclade_dataset     = true
    nextclade_sort_extensions = "flu/h1n1pdm/ha/sequences.fasta,flu/h1n1pdm/na/sequences.fasta,flu/h1n1pdm/mp/sequences.fasta,flu/h1n1pdm/np/sequences.fasta,flu/h1n1pdm/ns/sequences.fasta,flu/h1n1pdm/pa/sequences.fasta,flu/h1n1pdm/pb1/sequences.fasta,flu/h1n1pdm/pb2/sequences.fasta,flu/h3n2/ha/sequences.fasta,flu/h3n2/na/sequences.fasta,flu/h3n2/mp/sequences.fasta,flu/h3n2/np/sequences.fasta,flu/h3n2/ns/sequences.fasta,flu/h3n2/pa/sequences.fasta,flu/h3n2/pb1/sequences.fasta,flu/h3n2/pb2/sequences.fasta,flu/vic/ha/sequences.fasta,flu/vic/na/sequences.fasta,flu/vic/mp/sequences.fasta,flu/vic/np/sequences.fasta,flu/vic/ns/sequences.fasta,flu/vic/pa/sequences.fasta,flu/vic/pb1/sequences.fasta,flu/vic/pb2/sequences.fasta"
    nextclade_sort_tags       = "H1N1_HA,H1N1_NA,H1N1_MP,H1N1_NP,H1N1_NS,H1N1_PA,H1N1_PB1,H1N1_PB2,H3N2_HA,H3N2_NA,H3N2_MP,H3N2_NP,H3N2_NS,H3N2_PA,H3N2_PB1,H3N2_PB2,H0N0_HA,H0N0_NA,H0N0_MP,H0N0_NP,H0N0_NS,H0N0_PA,H0N0_PB1,H0N0_PB2"
    nextclade_dataset_tags    = "flu_h1n1pdm_ha,flu_h1n1pdm_na,nextstrain/flu/h1n1pdm/mp,nextstrain/flu/h1n1pdm/np,nextstrain/flu/h1n1pdm/ns,nextstrain/flu/h1n1pdm/pa,nextstrain/flu/h1n1pdm/pb1,nextstrain/flu/h1n1pdm/pb2,flu_h3n2_ha,flu_h3n2_na,nextstrain/flu/h3n2/mp,nextstrain/flu/h3n2/np,nextstrain/flu/h3n2/ns,nextstrain/flu/h3n2/pa,nextstrain/flu/h3n2/pb1,nextstrain/flu/h3n2/pb2,flu_vic_ha,flu_vic_na,nextstrain/flu/vic/mp,nextstrain/flu/vic/np,nextstrain/flu/vic/ns,nextstrain/flu/vic/pa,nextstrain/flu/vic/pb1,nextstrain/flu/vic/pb2"

    // mapping between nextclade reference name and inv tags
    // note: "-" and "/" are replaced with "_", since these characters can't be used in parameter names
    // H1N1
    mapping_flu_h1n1pdm_ha             = "H1N1_HA"
    mapping_flu_h1n1pdm_na             = "H1N1_NA"
    mapping_nextstrain_flu_h1n1pdm_mp  = "H1N1_MP"
    mapping_nextstrain_flu_h1n1pdm_np  = "H1N1_NP"
    mapping_nextstrain_flu_h1n1pdm_ns  = "H1N1_NS"
    mapping_nextstrain_flu_h1n1pdm_pa  = "H1N1_PA"
    mapping_nextstrain_flu_h1n1pdm_pb1 = "H1N1_PB1"
    mapping_nextstrain_flu_h1n1pdm_pb2 = "H1N1_PB2"


    // H3N2 
    mapping_flu_h3n2_ha             = "H3N2_HA"
    mapping_flu_h3n2_na             = "H3N2_NA"
    mapping_nextstrain_flu_h3n2_mp  = "H3N2_MP"
    mapping_nextstrain_flu_h3n2_np  = "H3N2_NP"
    mapping_nextstrain_flu_h3n2_ns  = "H3N2_NS"
    mapping_nextstrain_flu_h3n2_pa  = "H3N2_PA"
    mapping_nextstrain_flu_h3n2_pb1 = "H3N2_PB1"
    mapping_nextstrain_flu_h3n2_pb2 = "H3N2_PB2"


    // H0N0
    mapping_flu_vic_ha              = "H0N0_HA"
    mapping_flu_vic_na              = "H0N0_NA"
    mapping_nextstrain_flu_vic_mp   = "H0N0_MP"
    mapping_nextstrain_flu_vic_np   = "H0N0_NP"
    mapping_nextstrain_flu_vic_ns   = "H0N0_NS"
    mapping_nextstrain_flu_vic_pa   = "H0N0_PA"
    mapping_nextstrain_flu_vic_pb1  = "H0N0_PB1"
    mapping_nextstrain_flu_vic_pb2  = "H0N0_PB2"

    // pre-downloaded datasets (used when get_nextclade_dataset = false)
    // H1N1
    dataset_H1N1_HA             = null 
    dataset_H1N1_NA             = null 
    dataset_H1N1_MP             = null 
    dataset_H1N1_NP             = null 
    dataset_H1N1_NS             = null 
    dataset_H1N1_PA             = null 
    dataset_H1N1_PB1            = null
    dataset_H1N1_PB2            = null

    // H3N2
    dataset_H3N2_HA             = null 
    dataset_H3N2_NA             = null 
    dataset_H3N2_MP             = null 
    dataset_H3N2_NP             = null 
    dataset_H3N2_NS             = null 
    dataset_H3N2_PA             = null 
    dataset_H3N2_PB1            = null
    dataset_H3N2_PB2            = null

    // H0N0
    dataset_H0N0_HA             = null 
    dataset_H0N0_NA             = null 
    dataset_H0N0_MP             = null 
    dataset_H0N0_NP             = null 
    dataset_H0N0_NS             = null 
    dataset_H0N0_PA             = null 
    dataset_H0N0_PB1            = null
    dataset_H0N0_PB2            = null
}