/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    genomes_is_segmented = true

    latest_nextclade_dataset = false
    nextclade_dataset_config = "${projectDir}/assets/INV_nextclade_dataset_config.csv"
}

process {
    withName: 'MAFFT_ALIGN' {
        ext.args = "--genafpair --maxiterate 1000"
    }

    withName: 'IQTREE' {
        ext.args = { meta.outgroup_id ? "-seed 10 -m TEST -bb 1000 -wbtl -o \'${meta.outgroup_id}\'" : "-seed 10 -m TEST -bb 1000 -wbtl" }
    }

    withName: 'TREETIME_ANCESTRAL' {
        ext.args = "--aa"
    }
}
