/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    // order of extension and tags has to be the same
    get_nextclade_dataset      = true
    nextclade_sort_extensions = "rsv/a/sequences.fasta,rsv/b/sequences.fasta"
    nextclade_sort_tags       = "RSV_A,RSV_B"
    nextclade_dataset_tags    = "rsv_a,rsv_b"

    // mapping between nextclade reference name and rsv tags
    mapping_rsv_a     = "RSV_A"
    mapping_rsv_b     = "RSV_B"

    // pre-downloaded datasets (used when get_nextclade_dataset = false)
    dataset_RSV_A            = null
    dataset_RSV_B            = null

}
