/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    rki-mf1/omnifluss pathogen specific profiles.

~~~ NB:
    includeConfig "pathogens/${params.pathogen}.config"

    breaks `nf-core schema build` and `nf-core lint`, more specific it breaks
    `nextflow config -flat`.
----------------------------------------------------------------------------------------
*/

profiles {
    INV {
        includeConfig "pathogens/INV.config"
    }

    RSV {
        includeConfig "pathogens/RSV.config"
    }

    MSV {
        includeConfig "pathogens/MSV.config"
    }

    CVD {
        includeConfig "pathogens/CVD.config"
    }

    MPV {
        includeConfig "pathogens/MPV.config"
    }
}
